*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-header
{
    background-color: #F1F1F1;
}

#main-header > div
{
    width: 200px;
    height: 150px;
    margin: 0 auto;   
}

#main-header img
{
    width: 100%;
    padding-top: 15px;
}

#col-headings
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
}

#col-headings div
{
    padding: 10px;
}

#col-headings > div:nth-child(6) button
{
    width: 20px;
    text-align: center;
}

.qty
{
    width: 50px;
}

#calculate-button
{
    width: 100px;
    padding: 10px;
}

